#head{
    background: #fff;
    height: 80px;
}

a{
text-decoration: none;
}

nav{
    float: right;
}

#u1>li{
    list-style-type: none;
    float: right;
    /*background: white;*/
    margin-right: 4px;
    
    
}

#u1>li>a{
    padding: 40px 20px 40px 20px;
    line-height: 79px;
    color: #333;
}

li:hover{
    background-color:#333;
}

#u1>li>a:hover{
     color:#fff ;
     text-decoration: none;
}

a>img{
    height: 50px;
    margin-top: 15px;
}