.navbar{
	min-height: 60px;
}

.eng-title{
	display: block;
	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0.3s, opacity 0.3s;
}

.nav li a {
	width: 100px;
	text-align: center;
}

.nav li a:hover {
	font-size: 1.1em;
}

.nav li a:hover .eng-title{
	transform: translateY(0);
	opacity: 1;
}

/* section部分公共样式*/
section {
	margin-top: 80px;
}

.theme-header {
	font: 1.3em 楷体 bold;
	color: #398439;
	margin-left: 80px;
	border-left: 5px solid #5cb85c;
	margin-bottom: 20px;
}

