section {
    margin-top: 80px;
}

.page-title {
    font: 1.3em 楷体 bold;
    color: #398439;
    margin-left: 80px;
    border-left: 5px solid #5cb85c;
    margin-bottom: 20px;
}

.section-a {
    text-align: center;
    border: 1px solid #ffff00;
}